<!DOCTYPE html>
<html>
	<head>
		<title>My Profile Page</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>
	<body>
		<header>
			<div class="container">
				<a href="#top" class="logo">
        			<img src="/img/laozi.jpg">
	        		<h1>노자 PROFILE</h1>
    	  		</a>
      			<ul class="nav">
      				<li>
      					<a href="#about">ABOUT ME</a>
      				</li>
      				<li>
      					<a href="#favorite">FAVORITE</a>
      				</li>
      				<li>
      					<a href="#contact">CONTACT</a>
      				</li>
      			</ul>
      		</div>
		</header>
		<div id="top">
			<img src="/img/laozi.jpg">
    		<h1 class="title">노자</h1>
    		<h3 class="sub-title">도를 도라고 하는 순간 그것은 도가 아니다.</h3>
    	</div>
    	<div id="about">
    		<div class="about-img">
    		</div>
    		<div class="about-contents">
				<div class="inner">
          			<h1>도에 대해 생각을 많이 한 사람</h1>
          			<h1 class="title">노자</h1>
          			<h3 class="sub-title">춘추전국시대의 철학자. 도덕경의 저자.</h3>
        			<p>
            			그는 중국에서 우주의 만물에 대하여 생각한 최초의 사람으로, 그가 발견한 우주의 진리를 '도'(道)라고 이름지었다. 그 도를 중심으로 하는 신앙을 '도교'라고 하며, 그는 우주 만물이 이루어지는 근본적인 이치가 곧 '도'라고 설명하였다.
            			도는 성질이나 모양을 가지지 않으며, 변하거나 없어지지 않으며, 항상 어디에나 있다. 우리가 눈으로 볼 수 있는 여러 가지 형태의 우주 만물은 다만 도가 밖으로 나타나는 모습에 지나지 않는다. 모든 우주 만물의 형태는 그 근본을 따지면 결국은 17가지 진리에 도달하게 된다는 것이 그의 사상이다.
            			그의 사상은 '무위 자연'이라는 말로 나타낼 수 있다. 사람이 우주의 근본이며, 진리인 도의 길에 도달하려면 자연의 법칙에 따라 살아야 한다는 것이 그의 '무위 자연' 사상이다. 즉, 법률·도덕·풍속·문화 등 인위적인 것에 얽매이지 말고 사람의 가장 순수한 양심에 따라, 있는 그대로의 모습을 지키며 살아갈 때 비로소 도에 이를 수 있다고 하였다.
            			그는 후세에 '도교의 시조'로 불리고, 그 사상은 '노장 사상' 또는 '도가 사상'으로 발전하여 유교와 함께 중국 정신 사상사에서 중요한 의의를 가지게 되었다.
          			</p>
        		</div>
    		</div>
    	</div>
    	<div id="favorite">
    		<div class="inner">
    			<h1 class="title">Favorite</h1>
    			<h3 class="sub-title">My Favorite Things</h3>
    			<div class="favorite-contents">
    				<div class="img-hover">
    					<img src="/img/reading.jpg">
    					<h1>100</h1>
    				</div>
    				<h3>BASKETBALL</h3>
    			</div>
    		</div>
    	</div>
    	<div id="contact">
    		<div class="inner">
    			<h1 class="title">GET IN TOUCH!</h1>
    			<input type="text" name="name" placeholder="Name">
    			<input type="text" name="message" placeholder="Message">
    			<button>SEND MESSAGE</button>
    		</div>
    		<div class="comment">
    			<img src="/img/nerd.jpg">
    			<h1>
    				Guest
    				<span>April 13, 2015</span>
    			</h1>
    			<p>
    				comment, comment, it is comment
    			</p>
    		</div>
    	</div>
    	<footer>
    		<ul class="sns">
    			<a href="#">
    				<li class="facebook">
    					<img src="/img/sns-facebook.png">
    				</li>
    			</a>
    			<a href="#">
    				<li class="instargram">
    					<img src="/img/sns-instargram.png">
    				</li>
    			</a>
    			<a href="#">
    				<li class="pinterest">
    					<img src="/img/sns-pinterest.png">
    				</li>
    			</a>
    			<a href="#">
    				<li class="twitter">
    					<img src="/img/sns-twitter.png">
    				</li>
    			</a>
    			<a href="#">
    				<li class="youtube">
    					<img src="/img/sns-youtube.png">
    				</li>
    			</a>
    		</ul>
    		<h3>Copyright &copy; 2015 TOYCODE</h3>
    	</footer>
	</body>
</html>